.Ready {
  background-color: #b4dcfa;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  padding-left: 5%;
}
.ReadyText {
  text-align: left;
  width: 100%;
}
.content1 {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.content1 .head {
  text-align: left;
  text-align: center;
  font-family: "Lobster";
  font-size: 48px;
  color: #163247;
  margin-top: 20%;
  width: 100%;
}

.content1 .ReadyText a {
  color: #163247;
  font-family: "Exo2" serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 39px;
  min-width: 300px;
}

.content1 .ReadyText p {
  color: #163247;
  font-weight: 300;
  font-size: 22px;
  line-height: 39px;
  font-family: "Montesrrat" "serif";
  width: 100%;
  margin: 0 auto;
}

.ReadyCarousel .container .marquee {
  max-height: 120vh !important;
}

.learn {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 1155px) {
  .Ready {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 30px;
  }
  .content1 {
    height: fit-content;
    width: 90%;
  }
  .content1 .head {
    margin: 0;
  }
}
