.WhyChooseContent {
  min-width: 550px;
  width: 550px;
}

.head {
  text-align: center;
  font-family: "Lobster";
  font-size: 48px;
  color: #163247;
}

.WhyChoose {
  background-color: #b4dcfa;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.svg1 {
  min-width: 84px;
  min-height: 81px;
}

.svg2 {
  min-width: 87px;
}

.svg3 {
  max-width: 87px;
  max-height: 79px;
}

.svg4 {
  position: relative;
  bottom: 58.1%;
  left: 30.2%;
  height: 23px;
  width: 23px;
}

.learn {
  display: flex;
}

.learn svg {
  margin: 5px 0 0 30px;
}

@media screen and (max-width: 1155px) {
  .WhyChoose {
    flex-direction: column;
    align-items: center;
  }
}
