@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.desc{
  display: flex;
  position: relative;
}

.head{
  text-align: center;
  font-family: 'Lobster';
  font-size: 3rem;
  color: #163247;
}

.WhyChoose{
  background-color: #B4DCFA;
  display: flex;
  margin: 20px 0;
}

.content{
  width: 35%;
  padding: 30px 0 50px;
  margin-left: 100px;
}

.desc svg{
  margin: 0 20px 20px 0;
}

.desc p{
  margin-top: 9px;
  color: #163247;
  font-weight: 300;
  line-height: 26px;
}
.svg1{
  min-width: 84px;
  min-height: 81px;
}

.svg2{
  min-width: 87px;
}

.svg3{
  min-width: 87px;
  min-height: 79px;
}

.text h2{
  font-weight: 800;
  margin-bottom: 0;
  color: #163247;
  
}

.svg4{
  position: relative;
  bottom: 58.1%;
  left: 30.2%;
  height: 23px;
  width: 23px;
}

.Ready{
  background-color: #B4DCFA;
  margin: 20px 0;
}

.content1 .head,.text{
  text-align: left;
}

.content1{
  width: 30%;
  padding: 100px 150px;
}

.content1 .desc p{
  line-height: 40px;
  font-size: 18px
}

.content1 .text a{
  color: #163247;
  font-family: 'Exo2' serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 39px;
}

.content1{
  width: 25%;
}

.learn{
  display: flex;
}

.learn svg{
  margin: 5px 0 0 30px;
}

.Ready .container{
  min-height: 125vh;
}

.WhyChoose .container{
  min-height: 110vh;
}

.container {
  width: 509px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background: white;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.marquee {
  width: auto;
  top: 480px;
  position: relative;
  box-sizing: border-box;
  animation: marquee 15s linear infinite;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  border-width: 0 18px;
  border-color: #163247;
  border-style: dashed;
}
.marquee:hover {
  animation-play-state: paused;
}

img {
  box-sizing: border-box;
  padding-top: 10px;
  margin-bottom: 5px;
  border-top: 18px #163247 dashed;
}

@keyframes marquee {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.Carousel{
  width: 510px;
  margin: 0 100px;
}
.Ready{
  display: flex;
}

